{% extends 'users/base.html' %}
  
{% block body %}
{% if category_posts %}
  <h2>{{ cats }} Posts</h2>
  <br>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-2"></div>
     <div class="col-md-8">
        {% for post in category_posts %}
          <article class="media content-section" class="item">
            <img class="article-img rounded-circle my-2" src="{{ post.author.account.userImage.url }}"></img>
            <div class="media-body ml-2 w3-round">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'account' post.author.id %}">{{ post.author|title }}</a>
                <small class="text-muted">{{ post.category|title }}</small>
                <small class="text-muted" style="float:right;">{{ post.date_posted|date:"F d, Y" }}</small>
              </div>
              <h4></h4>
              <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title|title }}</a></h4>
              <p class="article-content">{{post.content|truncatechars:150|safe}}</p>
            </div>
          </article>
        {% endfor %}
        <br><br>
     </div>
    </div>
  </main>

{% else %}
  <h2>Sorry this page does not exist...</h2>
{% endif %}
    
{% endblock %}
© 2021 GitH