{% extends 'users/base.html' %}
	
{% block body %}
{% if category_posts %}
  <h2>{{ cats }} Posts</h2>
  <main role="main" class="container">
    <div class="row">
     <div class="col-md-8">
    {% for post in category_posts %}
      <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.img }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'account' post.author.id %}">{{ post.author }}</a>
                <small class="text-muted" style="float:right;">{{ post.date_posted|date:"F d, Y" }}</small>
              </div>
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content|safe }}</p>
            </div>
      </article>
    {% endfor %}
      </div>
    </div>
  </main>

{% else %}
  <h2>Sorry this page does not exists...</h2>
{% endif %}
    
{% endblock %}

