{% extends 'users/base.html' %}
	
{% block body %}
	
	<main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% for post in posts %}
        <article class="media content-section" class="item">
          <img class="rounded-circle article-img" src="{{ post.img }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'account' post.author.id %}">{{ post.author }}</a>
              <a class="mr-2" href="{% url 'category' post.category %}">{{ post.category }}</a>
              <small class="text-muted" style="float:right;">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
            <p class="article-content">{{post.snippet}}</p>
          </div>
        </article>
    {% endfor %}
      </div>
        <!-- <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div> -->

      </div>
      <br><br><br>
    </main>
    

{% endblock %}

{% block navbtn %}
  {% if user.is_authenticated %}

      <div class="nav-item">
       <a class="btn btn-primary btn-sm" href="{% url 'post-create' %}" style="float: left;">Add Post</a>
     </div>

      <div class="nav-item">
       <a class="btn btn-primary btn-sm mx-2" href="{% url 'add-category' %}">Add Category</a>
     </div>

  {% else %}

      <div class="nav-item">
        <a class="btn btn-primary btn-sm mx-2" href="{% url 'signup' %}">Signup</a>
      </div>  

      <div class="nav-item">
        <a class="btn btn-primary btn-sm mx-2" href="{% url 'login' %}">Login</a>
      </div>

  {% endif %}

{% endblock %}