{% extends 'users/base.html' %}
  
  <!-- {% block head %}
      {{ post.title_tag }}
  {% endblock %} -->

	{% block body %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.author }}</a>
              <small class="text-muted">{{ object.category }}</small>
              <small class="text-muted" style="float: right;">{{ object.date_posted|date:"F d, Y" }}</small>                
            </div>

            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content|safe }}</p>
          </div>
        </article>
        {% if object.author == user %}
          <div>
            <a class="btn btn-outline-secondary bt-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-outline-danger bt-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
        <br>
        <hr>    
        <h2>Comment Section</h2>
        <br>
        {% if not post.comments.all %}
            No Comments yet
            <br>
            <a href="{% url 'add-comment' post.pk %}">Be the first Ont to Comment!</a>
        {% else %}
            <a href="{% url 'add-comment' post.pk %}">Add a comment</a>
            <br>
            {% for comment in post.comments.all %}
                <strong>
                    {{ comment.name }} - {{ comment.date_added }}
                </strong>
                <br>
                {{ comment.body }}
                <br><br>
            {% endfor %}
            <hr>
        {% endif %}
    <br><br>
	    
	{% endblock %}

{% block navbtn %}
	
{% endblock %}