{% extends 'users/base.html' %}

  {% block body %}
        <article class="media content-section">
          <!--<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">-->
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.author }}</a>
              <small class="text-muted">{{ object.category }}</small>
              <small class="text-muted" style="float: right;">{{ object.date_posted|date:"F d, Y" }}</small>                
            </div>
            <h2 class="article-title">{{ object.title }}</h2>

            <p class="article-content">{{ object.content|safe }}</p>
          </div>
        </article>
        {% if object.author == user %}
          <div>
            {% if object.done == False %}
              <a class="btn btn-outline-secondary bt-sm mt-1 mb-2" href="{% url 'post-update' object.id %}">Update</a>
            {% else %}
               <button type="button" style="float: right;"class="btn btn-success active">Completed!</button>
            {% endif %}
            <a class="btn btn-outline-danger bt-sm mt-1 mb-2" href="{% url 'post-delete' object.id %}">Delete</a>
            <!-- <a class="btn btn-outline-primary bt-sm mt-1 mb-1" style="float: right;" href="">Done</a> -->
          </div>
        {% endif %}
        {% if object.assign_to %}
            <a href="#" class="btn btn-primary active " style="float: right;" role="button" aria-pressed="true">Assigned to --> {{ object.assign_to }}</a>
            <br>
        {% endif %}
        <br>
        <hr>    
        <h2>Comment Section</h2>
        {% if not post.comments.all %}
          {% if user.is_authenticated %}
            <a class="btn btn-primary my-4" href="{% url 'add-comment' post.pk %}">Be the first one to comment!</a>
          {% else %}
            <a class="btn btn-primary my-4" href="{% url 'login' %}">Be the first one to comment!</a>
          {% endif %}
        {% else %}
            {% if user.is_authenticated %}
                <a class="btn btn-primary my-4" href="{% url 'add-comment' post.pk %}">Add a comment</a>
                <br>
            {% endif %}
            
            {% for comment in post.comments.all %}
                <p>
                    <a href="{% url 'account' comment.author.id %}">{{ comment.author }}</a> -<small class="text-muted"> {{ comment.date_added }}</small>
                <br>
                {{ comment.body }}</p>
                
            {% endfor %}
            <hr>
        {% endif %}
    <br>
      
  {% endblock %}
