{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel = "icon" href="/static/images/favicon.png">
     
    {% block head %}

    {% endblock %}


    <title>Developer's Hub</title>
    <style>
        body {
          /* Margin bottom by footer height */
          margin-bottom: 60px !important;
          background-color: #FFFACD;
        }
        html {
          position: relative;
          min-height: 100%;
        }
        
        nav{
          position: fixed;
        }

        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
          background-color: #f5f5f5;
          bottom: 0;
        }
        .imageborder {
          height:35px; 
          width:35px;
          border-radius: 99em;
          padding: .5px;
          border: 1px solid white;
          background-color: #eee;
        }
        

        {% block css %}{% endblock %}
    </style>
  </head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
  <body>

  	  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        {% if request.user.is_authenticated %}
          <a class="navbar-brand" href="{% url 'home' %}" style="color:white;"><i class="fas fa-laptop-code"></i> Developer's Hub</a>
        {% else %}
          <a class="navbar-brand" href="{% url 'firstpage' %}" style="color:white;"><i class="fas fa-laptop-code"></i> Developer's Hub</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        
    {% block navbtn %}

    {% endblock %}

        {% if request.user.is_authenticated and request.path != "/account/creation" %}
          <div class="ml-auto">
            <!-- src="../../../media/profile_pics/default.png" -->
              <img class="imageborder rounded-circle my-1 mx-1" src="{{ request.user.account.userImage.url }}" width="30" height="30" alt=""></a>
              <a class="mr-3" href="{% url 'account' request.user.id %}" style="color:white;">{{request.user|title}}</a>
              <a class="btn btn-primary mx-2 btn-sm" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        {% endif %}
    </nav>

    {% if messages %}
	    {% for message in messages %}
	      <div class="alert alert-{{message.tags}}" role="alert" id="messages">
	      {{message}}
	      </div>
	    {% endfor %}
	 {% endif %}
   <br>
   
    <div class="container">
      {% block body %}
        
      {% endblock %}
    </div>

	 <script>
       {% block js %}{% endblock %}
        var message_ele = document.getElementById("messages");
        setTimeout(function(){ 
        message_ele.style.display = "none"; 
        }, 3000);
   </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="/static/styles.css" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </body>
  <footer class="footer bg-dark">
      <div class="text-center p-3" style="color:white;">
          Developer's Hub © 2020
      </div>
    </footer>
</html>