{% extends 'users/base.html' %}

{% block body %}

	<div class="container my-4">
	<h3><i class="fas fa-user-plus"></i> Sign Up</h3>
	<form method='POST' action='signup'>
		{% csrf_token %}
		  <div class="form-group my-4">
		    <label for="email">Email address</label>
		    <input type="email" class="form-control" id="email" placeholder="" name="email" value="{{email}}" required>
		  </div>

		  <div class="form-group my-4">
		    <label for="firstname">First Name</label>
		    <input type="text" class="form-control" id="firstname" placeholder="" name="firstname" value="{{firstname}}" required>
		  </div>

		  <div class="form-group my-4">
		    <label for="lastname">Last Name</label>
		    <input type="text" class="form-control" id="lastname" placeholder="" value="{{lastname}}" name="lastname">
		  </div>

		  <div class="form-group my-4">
		    <label for="username">Username</label>
		    <input type="text" class="form-control" id="username" placeholder="" name="username" value="{{username}}"required>
		  </div>

		  <div class="form-group my-4">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" placeholder="" name="password" required>
		  </div>

		  <div class="form-group my-4">
		    <label for="confirmpassword">Confirm Password</label>
		    <input type="password" class="form-control" id="confirmpassword" placeholder="" name="confirmpassword" required>
		  </div>

		  <button type="submit" class="btn btn-primary my-4"><i class="fas fa-user-plus"></i> Sign Up</button>

	</form>
</div>

{% endblock %}

{% block navbtn %}

<a class="btn btn-primary btn-sm ml-auto" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>

{% endblock %}