{% extends 'users/base.html' %}

{% load static %}

{% block head %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

{% endblock %}

{% block body %}

<div class="container my-4">
	<div class="row">
		<div class="media col-4 d-flex justify-content-center">
			<img class="userImage" src="{{ details.userImage.url }}">
		 </div> 
		  <div class="media-body my-4 info col">
		  	<h3 class="mt-0">{{ details.user.first_name }} {{ details.user.last_name }}</h3>
		  	{% if request.user.id == details.user.id %} 
		  		<a class="btn btn-outline-primary" href="{% url 'editdetails' %}" style="float: right;">Edit Profile</a><br>
			{% endif %} 
			<br>
	    	<a class="btn btn-outline-primary" href="{% url 'viewposts' details.user.id %}" style="float: right;">Posts</a><br>
		    <h6 class="mt-0" style="font-weight: bold; float: left;">Email ID:&nbsp</h6></span><h6>{{ details.email }}</h6>
		    {% if details.contact %}
		    	<h6 class="mt-0" style="font-weight: bold; float: left;">Contact Number:&nbsp</h6><h6>{{ details.contact }}</h6>
		    {% endif %}
		    <h6 style="font-weight: bold; float: left;">Reputation Points:&nbsp</h6></span><h6>{{ details.reputation_points }}</h6>
		    {% if details.githubprofile %}
		    	<a href="{{details.githubprofile}}">Github Profile Link</a><br>
		    {% endif %}
		    <p>{{ details.bio }}</p>
		    <br><br><br>
		</div>
	</div>
	<div class="container">
	    <div class="row">
		    <div class="col-4 " align="center">
			   <h5 class="mt-0" style="font-weight: bold;">Skills</h5>
    			{% for i in skills %}
    				<h6>{{ i.skill_value }}</h6>
    			{% endfor %} 
			 </div>
			 <div class="col">
			    <div class="container my-1">
			    	{% if experiences %}
			    	<h3>Experience</h3>
			    	<br />
					    {% for i in experiences %}
					    	<div class="card">
							  <div class="card-header">
							    <h6>{{ i.title }}</h6>
							  </div>
							  <div class="card-body">
							    <p>{{ i.description }}</p>
							    <p>From {{ i.startdate }} to {{ i.enddate }}</p>
							  </div>
							</div>
							<br>
					    {% endfor%}
					{% endif %}
				</div>
			 </div>
		</div>
	</div>
</div>

{% endblock %}